<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
    </tr>
  </thead>
  <tbody>
    {{#each category.placemarks}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{category}}
        </td>
        <td>
          {{description}}
        </td>
         <td>
          {{temp}}
        </td>
        <td>
          {{wind}}
        </td>
         <td>
          <a href="/category/{{../category._id}}/deleteplacemark/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
          <td>
          <a href="/placemark/{{../category._id}}/editplacemark/{{_id}}" class="ui icon button">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
